<c-header class="mb-4">
    <c-container>
      <c-header-nav class="d-md-flex me-auto">
        <c-nav-item>
          <a cNavLink routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Home
          </a>
        </c-nav-item>
        <c-nav-item>
          <a cNavLink routerLink="/orders" routerLinkActive="active">
            Orders
          </a>
        </c-nav-item>
        <c-nav-item *ngIf="isAdmin">
          <a cNavLink routerLink="/inventory" routerLinkActive="active">
            Inventory
          </a>
        </c-nav-item>
      </c-header-nav>
      <c-header-nav class="ms-3">
        <c-nav-item>
          <button cButton color="danger" variant="outline" (click)="logout()">
            Logout
          </button>
        </c-nav-item>
      </c-header-nav>
    </c-container>
  </c-header>